#!/bin/bash

set -eufo pipefail

{{ $brews := list
    "age"
    "atuin"
    "bat"
    "curl"
    "eza"
    "fd"
    "fzf"
    "gawk"
    "gdu"
    "gh"
    "git"
    "gnu-sed"
    "gnu-tar"
    "gnu-units"
    "gnupg"
    "go"
    "golangci-lint"
    "grep"
    "jless"
    "jq"
    "pinentry-mac"
    "pkg-config"
    "ripgrep"
    "shellcheck"
    "tailscale"
    "tmux"
    "wget"
    "zsh" -}}
{{ $casks := list
    "balenaetcher"
    "brave-browser"
    "font-hack-nerd-font"
    "font-meslo-lg-nerd-font"
    "ghostty"
    "hammerspoon"
    "visual-studio-code-insiders"
	"signal"
	"rustdesk"
    "vlc" -}}


brew bundle --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

# Get BWS TAG
TAG=$(curl -sL https://api.github.com/repos/bitwarden/sdk-sm/tags | grep -o 'bws-v[^"]*' | sort -un | tail -n 1)
# Get the latest release URL
RELEASE_ARCHIVE_URL=$(curl -Ls "https://api.github.com/repos/bitwarden/sdk-sm/releases/tags/$TAG" | grep -Eo 'https://[^"]*' | grep universal)

# Download the release archive and extract the binary
curl -sL "$RELEASE_ARCHIVE_URL" -o /tmp/bitwarden-universal.zip
unzip -q /tmp/bitwarden-universal.zip -d /tmp/

# Move the binary to bin directory
mkdir -p {{ .chezmoi.homeDir }}/bin
mv /tmp/bws {{ .chezmoi.homeDir }}/bin/bws

