#!/bin/bash

set -eufo pipefail

{{ $brews := list
    "age"
    "atuin"
    "bat"
    "curl"
    "dockutil"
    "eza"
    "fd"
    "fzf"
    "gawk"
    "gdu"
    "gh"
    "git"
    "gnu-sed"
    "gnu-tar"
    "gnu-units"
    "gnupg"
    "go"
    "golangci-lint"
    "grep"
    "jless"
    "jq"
    "lua"
    "oh-my-posh"
    "pinentry-mac"
    "pkg-config"
    "ripgrep"
    "shellcheck"
    "tailscale"
    "thefuck"
    "tmux"
    "wget"
    "zsh" -}}
{{ $casks := list
    "balenaetcher"
    "brave-browser"
    "felixkratz/formulae/jankyborder"
    "felixkratz/formulae/sketchybar"
    "font-hack-nerd-font"
    "font-meslo-lg-nerd-font"
    "ghostty"
    "hammerspoon"
    "nikitabobko/tap/aerospace"
    "raycast"
    "rustdesk"
    "sf-symbols"
    "signal"
    "visual-studio-code@insiders"
    "vlc" -}}

brew bundle --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
mas "Bitwarden", id: 1352778147
EOF
