#!/bin/bash

# mise.toml hash: {{ include "dot_config/mise/config.toml.tmpl" | sha256sum }}
mise install -y

mkdir -p .oh-my-zsh/custom/functions

{{- if eq .chezmoi.os "linux" }}
usage --completions zsh > .oh-my-zsh/custom/functions/_usage
atuin gen-completion --shell zsh > .oh-my-zsh/custom/functions/_atuin
{{ end }}
bws completions zsh > .oh-my-zsh/custom/functions/_bws
