[tools]
bitwarden = "latest"
bitwarden-secrets-manager = { version = "latest", version_prefix = "bws-v" }
{{- if eq .chezmoi.os "linux" }}
age = "latest"
atuin = "latest"
eza = "latest"
oh-my-posh = "latest"
zoxide = "latest"
{{- end }}

[settings]
experimental = true
